# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
*.pyo

# Migrations
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# Env files
.env
.env.*

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Node modules (if using React)
node_modules/

# Static / media files
staticfiles/
media/
